* text=auto

/.github export-ignore
/build-tools export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.styleci.yml export-ignore
module-status.md export-ignore
phpunit.xml export-ignore
SECURITY.md export-ignore

/src/*/.github export-ignore
/src/*/Tests export-ignore
/src/*/.gitattributes export-ignore
/src/*/Changelog.md export-ignore
/src/*/composer.json export-ignore
/src/*/LICENSE.md export-ignore
/src/*/phpunit.xml export-ignore
/src/*/README.md export-ignore
