<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Contract Tests">
            <directory>src/Contracts/Tests</directory>
        </testsuite>
        <testsuite name="Support Tests">
            <directory>src/Support/Tests</directory>
        </testsuite>
        <testsuite name="Product Tests">
            <directory>src/Product/Tests</directory>
        </testsuite>
        <testsuite name="Properties Tests">
            <directory>src/Properties/Tests</directory>
        </testsuite>
        <testsuite name="Category Tests">
            <directory>src/Category/Tests</directory>
        </testsuite>
        <testsuite name="Channel Tests">
            <directory>src/Channel/Tests</directory>
        </testsuite>
        <testsuite name="Cart Tests">
            <directory>src/Cart/Tests</directory>
        </testsuite>
        <testsuite name="Checkout Tests">
            <directory>src/Checkout/Tests</directory>
        </testsuite>
        <testsuite name="Order Tests">
            <directory>src/Order/Tests</directory>
        </testsuite>
        <testsuite name="Payment Tests">
            <directory>src/Payment/Tests</directory>
        </testsuite>
        <testsuite name="Foundation Tests">
            <directory>src/Foundation/Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
