<?xml version="1.0" encoding="utf-8"?>
<!--
    phpunit -c phpunit.xml
-->
<phpunit colors="true"
         bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="Vanilo Links Module Test Suite">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <!--        FOR POSTGRES:-->
        <!--        <env name="TEST_DB_USERNAME" value="postgres"/>-->
        <!--        <env name="TEST_DB_PASSWORD" value="password"/>-->
        <!--        <env name="TEST_DB_ENGINE" value="pgsql"/>-->

        <!--        FOR MYSQL:-->
                <env name="TEST_DB_USERNAME" value="root"/>
                <env name="TEST_DB_PASSWORD" value="sampler"/>
                <env name="TEST_DB_ENGINE" value="mysql"/>
    </php>

</phpunit>
