name: tests

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        php: ['8.2', '8.3']
        laravel: ['10.43', '10.48', '11.0', '11.17']
    name: PHP ${{ matrix.php }} Laravel ${{ matrix.laravel }}
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Installing PHP
        uses: shivammathur/setup-php@master
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, json, sqlite3
          tools: composer:v2
      - name: Lock Laravel Version
        run: composer require "illuminate/support:${{ matrix.laravel }}.*" --no-update -v && composer require "illuminate/console:${{ matrix.laravel }}.*" --no-update -v
      - name: Composer Install
        run: composer install --prefer-dist --no-progress --no-interaction
      - name: Create Database
        run: mkdir -p database && touch database/database.sqlite
      - name: Run Tests
        run: php vendor/bin/phpunit --testdox
  trigger-drivers:
    runs-on: ubuntu-latest
    name: Trigger ${{ matrix.driver }} tests
    strategy:
      matrix:
        driver: ['stripe', 'paypal', 'braintree', 'mollie', 'netopia', 'euplatesc', 'simplepay', 'adyen']
    steps:
      - name: Dispatch event to the ${{ matrix.driver }} repo
        run: |
          curl \
            -X POST \
            -H "Authorization: token ${{ secrets.PERSONAL_ACCESS_TOKEN }}" \
            -H "Accept: application/vnd.github.v3+json" \
            https://api.github.com/repos/vanilophp/${{ matrix.driver }}/dispatches \
            -d '{"event_type":"run_tests"}'

